<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="http://www.emoji.co.uk/files/phantom-open-emojis/smileys-people-phantom/12341-sleuth-or-spy.png">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>